.car-park
    &__block
        padding: 35px 0 40px 0
    &__content
        display: flex
        flex-direction: column
        align-items: center
    &__title
        font-weight: 600
        font-size: 30px
        line-height: 37px
        margin-bottom: 15px
    &__subtitle
        font-weight: 600
        font-size: 24px
        line-height: 29px
        margin-bottom: 60px
    &__nav
        display: flex
        justify-content: space-between
        width: 642px
        max-width: 100%
        margin-bottom: 47px
    &__nav-btn
        font-weight: 500
        font-size: 20px
        line-height: 24px
        background-color: transparent
        width: 201px
        height: 50px
        border: 1px solid #EBEBEB
        outline: none
        cursor: pointer
        padding: 0
        &:hover
            border: 1px solid #FED100

    &__swiper-container
        width: 100%
        height: 453px
    &__swiper-slide
        display: flex
        justify-content: space-around
        align-items: center
.swiper
    &__slide-text
    &__slide-button
        font-weight: 500
        font-size: 20px
        line-height: 24px
        padding: 14px 78px
        background-color: #FED100
        border: none
        outline: none
        cursor: pointer
.slide
    &__title
        font-weight: 600
        font-size: 24px
        line-height: 29px
        margin-bottom: 37px
    &__list
        margin: 0
        padding: 0
        list-style-type: none
        margin-bottom: 35px
.list
    &__item-check
        margin-right: 15px
    &__item
        // position: relative
        margin-bottom: 28px
        &:last-child
            margin-bottom: 0
.swiper-button-next,
.swiper-button-prev
    color: #333
    width: 8px
    height: 16px
